/* Basic styling for the chart buttons and highlights */
.chart-button {
    display: inline-block;
    margin: 5px; /* Match script margin */
    padding: 15px; /* Match script padding */
    background-color: lightgray;
    border: 1px solid #ddd;
    cursor: pointer;
}

.highlighted {
    background-color: yellow; /* Match script */
}

#follow-along {
    margin-top: 20px; /* Match script margin */
    padding: 10px; /* Match script padding */
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.play-button {
    font-size: 20px; /* Match script font size */
    padding: 10px; /* Match script padding */
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.play-button:hover {
    background-color: #45a049;
}

/* Small button styling */
.small-button {
    font-size: 16px; /* Adjust as needed */
    padding: 5px 10px; /* Adjust as needed */
    border-radius: 4px; /* Adjust as needed */
}
